.Header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .items-header {
        width:auto;
        display: flex;
        list-style-type: none;
        .item-header {
            margin-right: 3.5em;
            font-size: 13px;
            font-weight: 600;
        }
        .item-header:hover {
            color: #f53b41;
            cursor: pointer;
            transition: .4s;
        }
        .icons-header {
            border-left: 1px solid white;
            margin-right: 1em;
            .icon-header {
                margin-left: 1em;
            }
            .icon-header:hover {
                color: #f53b41;
                cursor: pointer;
                transition: .4s;
            }
        }
    }
}